*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font: 14pt system-ui, sans-serif;
  line-height: 1.3;
  background: white;
  color: #222;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

header {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header img {
  width: 100px;
  margin-right: 1rem;
}

header h1 {
  margin: 0;
}
